 
body{
    background-color: blueviolet;
}
#form{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
}

/* she did a lot on the style.css page but im just gonna keep it simple and short
right now i'll worry about it later 